In [1]:
import numpy as np
import pandas as pd

In [2]:
train = [
    {"user":"1","item":"5","age":19},
    {"user":"2","item":"43","age":33},
    {"user":"3","item":"20","age":55},
    {"user":"4","item":"10","age":20}
]

In [3]:
x = pd.DataFrame(train)

In [4]:
x

   age item user
0   19    5    1
1   33   43    2
2   55   20    3
3   20   10    4

In [5]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
age     4 non-null int64
item    4 non-null object
user    4 non-null object
dtypes: int64(1), object(2)
memory usage: 176.0+ bytes

In [8]:
pd.get_dummies(x.user)

   1  2  3  4
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1

In [9]:
pd.get_dummies(x.item) # one hot encoding

   10  20  43  5
0   0   0   0  1
1   0   0   1  0
2   0   1   0  0
3   1   0   0  0