In [2]:
# Machine Learning 의 supervised learning 기법에 속하는 Recommendation 을 다룸

In [24]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import missingno

In [4]:
# 1. 협력 필터링 (사람끼리 비교)
# Order Data (cont.) => 샀으면 1 안 샀으면 0 으로 만듦 => vectorization 
# Vector & Dimension (행으로 vector 만드는 방식, 열로 vector 만드는 방식)
# 사람 기반 -> 행으로 vector를 만듦 -> 각 행의 유사도 비교 
# 각 행 간의 내적을 통해 cosine similarity를 구해지는데 이를 통해 구한다.  
# 콘텐츠 기반 -> 열로 vector를 만듦

In [5]:
# 각 행 간의 내적을 통해 cosine similarity를 구하고 이를 통해 user similarity matrix를 만든다.

In [6]:
# cosine 값이 크면 클 수록 매우 유사한 것이다. cosine 값을 구해서 user similarity matrix 에 넣는다.

In [7]:
# 각 행에서 한 행의 번호가 1인데 이와 비교할 열들과 비교하여 가장 높은 값들부터 비교 
# 선택된 행의 번호 1에 속한 기존에 산 것들은 지움
# 최종 스코어 계산

In [8]:
# 2. 콘텐츠 기반 필터링 (음반끼리 비교)
# Singer, Composer, Bitrate .. -> 열 기반으로 vector로 만들어서 feature로 만든다. (숫자화)
# Similarity Matrix 에 넣는다.
# K-Nearest Neighbor (knn) 사용

In [10]:
# 대체재: 서로 대신 쓸 수 있는 관계에 있는 두 가지의 재화 (버터와 마가린, 쌀과 밀가루, 만년필과 연필)
# 보완재: 서로 보완관계에 있는 재화 
# 맥북을 카트에 담을 시 보완재로 노트북 가방과 파우치가 추천

In [1]:
#!pip install fastFM

In [5]:
%matplotlib inline

In [6]:
from sklearn.model_selection import learning_curve

In [7]:
from sklearn.feature_extraction import DictVectorizer # dictionary 형태를 Vectorize하는 것

In [10]:
train = [
    {"user":"1","item":"5","age":19},
    {"user":"2","item":"43","age":33},
    {"user":"3","item":"20","age":55},
    {"user":"4","item":"10","age":20}
]
# key는 mutable한 것이 온다.

In [9]:
v = DictVectorizer() # feature extraction <- 자연어 처리

In [11]:
X = v.fit_transform(train) # fit_transform => feature scaling 포함

In [13]:
X

<4x9 sparse matrix of type '<class 'numpy.float64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [14]:
dir(X)

['__abs__',
 '__add__',
 '__array_priority__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__idiv__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__pow__',
 '__radd__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmatmul__',
 '__rmul__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '_add_dense',
 '_add_sparse',
 '_arg_min_or_max',
 '_arg_min_or_max_axis',
 '_binopt',
 '_boolean_index_to_array',
 '_check_boolean',
 '_check_ellipsis',
 '_cs_matrix__get_has_canonical_format',
 '_cs_matrix__get_sorted',
 '_cs_matrix__set_has_canonical_format',
 '_cs_matrix__set_sorted',
 '_deduped_data',
 '_divide',
 '_divide_sparse',
 '_get_dtype',
 '_get_row_slice',
 '_get_single_element',
 '_get_submatrix',
 '_has_sorted_indices',
 '_imag',
 '_index_to_arrays',
 '_inequality',
 '_insert_many',
 '_maximum_minimum',
 '_min_or_max',
 '_min_or_max_axis',
 '_minor_reduce',
 '_mul_multivector',
 '_mul_scalar',
 '_mul_sparse_matrix',
 '_mul_vector',
 '_prepare_indices',
 '_process_toarray_args',
 '_real',
 '_rsub_dense',
 '_scalar_binopt',
 '_set_dtype',
 '_set_many',
 '_set_self',
 '_setdiag',
 '_shape',
 '_slicetoarange',
 '_sub_dense',
 '_sub_sparse',
 '_swap',
 '_unpack_index',
 '_with_data',
 '_zero_many',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctanh',
 'argmax',
 'argmin',
 'asformat',
 'asfptype',
 'astype',
 'ceil',
 'check_format',
 'conj',
 'conjugate',
 'copy',
 'count_nonzero',
 'data',
 'deg2rad',
 'diagonal',
 'dot',
 'dtype',
 'eliminate_zeros',
 'expm1',
 'floor',
 'format',
 'getH',
 'get_shape',
 'getcol',
 'getformat',
 'getmaxprint',
 'getnnz',
 'getrow',
 'has_canonical_format',
 'has_sorted_indices',
 'indices',
 'indptr',
 'log1p',
 'max',
 'maximum',
 'maxprint',
 'mean',
 'min',
 'minimum',
 'multiply',
 'ndim',
 'nnz',
 'nonzero',
 'power',
 'prune',
 'rad2deg',
 'reshape',
 'resize',
 'rint',
 'set_shape',
 'setdiag',
 'shape',
 'sign',
 'sin',
 'sinh',
 'sort_indices',
 'sorted_indices',
 'sqrt',
 'sum',
 'sum_duplicates',
 'tan',
 'tanh',
 'toarray',
 'tobsr',
 'tocoo',
 'tocsc',
 'tocsr',
 'todense',
 'todia',
 'todok',
 'tolil',
 'transpose',
 'trunc']

In [20]:
dir(v) # inverse_transform을 쓰면 거꾸로 바꿔줌

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_get_param_names',
 '_transform',
 'dtype',
 'feature_names_',
 'fit',
 'fit_transform',
 'get_feature_names',
 'get_params',
 'inverse_transform',
 'restrict',
 'separator',
 'set_params',
 'sort',
 'sparse',
 'transform',
 'vocabulary_']

In [21]:
# python 3.6 부터 뒤에서부터 바꾸어서 나오는 것으로 바뀌었다.
# 자연어 처리는 sparse matrix 구조로 되어있다. 
v.inverse_transform(X)

[{'age': 19.0, 'item=5': 1.0, 'user=1': 1.0},
 {'age': 33.0, 'item=43': 1.0, 'user=2': 1.0},
 {'age': 55.0, 'item=20': 1.0, 'user=3': 1.0},
 {'age': 20.0, 'item=10': 1.0, 'user=4': 1.0}]

In [12]:
vars(X)

{'_shape': (4, 9),
 'maxprint': 50,
 'indices': array([0, 4, 5, 0, 3, 6, 0, 2, 7, 0, 1, 8], dtype=int32),
 'indptr': array([ 0,  3,  6,  9, 12], dtype=int32),
 'data': array([19.,  1.,  1., 33.,  1.,  1., 55.,  1.,  1., 20.,  1.,  1.]),
 '_has_sorted_indices': 1}

In [16]:
X.toarray() # sparce matrix 는 없는 값은 저장안함

array([[19.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,  0.],
       [33.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,  0.],
       [55.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  0.],
       [20.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  1.]])

In [18]:
print(X.toarray()) 
# one hot encoding (https://machinelearningmastery.com/how-to-one-hot-encode-sequence-data-in-python/)
# 총 9 개 -> 숫자 1개, 문자 4개, 문자 4개

[[19.  0.  0.  0.  1.  1.  0.  0.  0.]
 [33.  0.  0.  1.  0.  0.  1.  0.  0.]
 [55.  0.  1.  0.  0.  0.  0.  1.  0.]
 [20.  1.  0.  0.  0.  0.  0.  0.  1.]]

In [22]:
# label encoding 은 크기 개념이 있어서 문제가 있다.
# one hot encoding 은 크기 개념이 없어서 좋다.
# 1 2 3 4
# 아래와 같이 변환 
# 1 0 0 0
# 0 1 0 0
# 0 0 1 0
# 0 0 0 1

In [27]:
# 영화 추천 데이터 
# 사용자 정보 읽어들이기 
u_cols = ['user_id','age','sex','occupation','zip_code']

In [28]:
users = pd.read_csv('ml-100k/u.user',sep='|',names=u_cols)

In [29]:
users

     user_id  age sex     occupation zip_code
0          1   24   M     technician    85711
1          2   53   F          other    94043
2          3   23   M         writer    32067
3          4   24   M     technician    43537
4          5   33   F          other    15213
5          6   42   M      executive    98101
6          7   57   M  administrator    91344
7          8   36   M  administrator    05201
8          9   29   M        student    01002
9         10   53   M         lawyer    90703
10        11   39   F          other    30329
11        12   28   F          other    06405
12        13   47   M       educator    29206
13        14   45   M      scientist    55106
14        15   49   F       educator    97301
15        16   21   M  entertainment    10309
16        17   30   M     programmer    06355
17        18   35   F          other    37212
18        19   40   M      librarian    02138
19        20   42   F      homemaker    95660
20        21   26   M         writer    30068
21        22   25   M         writer    40206
22        23   30   F         artist    48197
23        24   21   F         artist    94533
24        25   39   M       engineer    55107
25        26   49   M       engineer    21044
26        27   40   F      librarian    30030
27        28   32   M         writer    55369
28        29   41   M     programmer    94043
29        30    7   M        student    55436
..       ...  ...  ..            ...      ...
913      914   44   F          other    08105
914      915   50   M  entertainment    60614
915      916   27   M       engineer    N2L5N
916      917   22   F        student    20006
917      918   40   M      scientist    70116
918      919   25   M          other    14216
919      920   30   F         artist    90008
920      921   20   F        student    98801
921      922   29   F  administrator    21114
922      923   21   M        student    E2E3R
923      924   29   M          other    11753
924      925   18   F       salesman    49036
925      926   49   M  entertainment    01701
926      927   23   M     programmer    55428
927      928   21   M        student    55408
928      929   44   M      scientist    53711
929      930   28   F      scientist    07310
930      931   60   M       educator    33556
931      932   58   M       educator    06437
932      933   28   M        student    48105
933      934   61   M       engineer    22902
934      935   42   M         doctor    66221
935      936   24   M          other    32789
936      937   48   M       educator    98072
937      938   38   F     technician    55038
938      939   26   F        student    33319
939      940   32   M  administrator    02215
940      941   20   M        student    97229
941      942   48   F      librarian    78209
942      943   22   M        student    77841

[943 rows x 5 columns]

In [30]:
# 영화 평점 데이터 
r_cols = ['user_id','movie_id','rating','unix_timestamp']

In [31]:
ratings = pd.read_csv('ml-100k/u.data',sep='\t',names=r_cols)

In [32]:
ratings['date'] = pd.to_datetime(ratings['unix_timestamp'],unit='s')

In [34]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
user_id           100000 non-null int64
movie_id          100000 non-null int64
rating            100000 non-null int64
unix_timestamp    100000 non-null int64
date              100000 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(4)
memory usage: 3.8 MB

In [33]:
ratings.head()

   user_id  movie_id  rating  unix_timestamp                date
0      196       242       3       881250949 1997-12-04 15:55:49
1      186       302       3       891717742 1998-04-04 19:22:22
2       22       377       1       878887116 1997-11-07 07:18:36
3      244        51       2       880606923 1997-11-27 05:02:03
4      166       346       1       886397596 1998-02-02 05:33:16

In [36]:
# 영화 정보 불러들이기 
m_cols = ['movie_id','title','release_date','video_release_date','imdb_url']
movies = pd.read_csv('ml-100k/u.item',sep='|',names=m_cols,usecols=range(5),encoding='latin1')

In [37]:
movies

,movie_id,title,release_date,video_release_date,imdb_url
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)
5,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...
6,7,Twelve Monkeys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...
7,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995)
8,9,Dead Man Walking (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Dead%20Man%20...
9,10,Richard III (1995),22-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Richard%20III...
10,11,Seven (Se7en) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Se7en%20(1995)
11,12,"Usual Suspects, The (1995)",14-Aug-1995,NaN,http://us.imdb.com/M/title-exact?Usual%20Suspe...
12,13,Mighty Aphrodite (1995),30-Oct-1995,NaN,http://us.imdb.com/M/title-exact?Mighty%20Aphr...
13,14,"Postino, Il (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Postino,%20Il..."
14,15,Mr. Holland's Opus (1995),29-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Mr.%20Holland...
15,16,French Twist (Gazon maudit) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Gazon%20maudi...
16,17,From Dusk Till Dawn (1996),05-Feb-1996,NaN,http://us.imdb.com/M/title-exact?From%20Dusk%2...
17,18,"White Balloon, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Badkonake%20S...
18,19,Antonia's Line (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Antonia%20(1995)
19,20,Angels and Insects (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Angels%20and%...
20,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Muppet%20Trea...
21,22,Braveheart (1995),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Braveheart%20...
22,23,Taxi Driver (1976),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Taxi%20Driver...
23,24,Rumble in the Bronx (1995),23-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Hong%20Faan%2...
24,25,"Birdcage, The (1996)",08-Mar-1996,NaN,"http://us.imdb.com/M/title-exact?Birdcage,%20T..."
25,26,"Brothers McMullen, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Brothers%20Mc...
26,27,Bad Boys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Bad%20Boys%20...
27,28,Apollo 13 (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Apollo%2013%2...
28,29,Batman Forever (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Batman%20Fore...
29,30,Belle de jour (1967),01-Jan-1967,NaN,http://us.imdb.com/M/title-exact?Belle%20de%20...
...,...,...,...,...,...
1652,1653,Entertaining Angels: The Dorothy Day Story (1996),27-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Entertaining%...
1653,1654,Chairman of the Board (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Chairman+of+the+Board...
1654,1655,"Favor, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Favor,%20The%..."
1655,1656,Little City (1998),20-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Little+City+(...
1656,1657,Target (1995),28-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Target%20(1995)
1657,1658,"Substance of Fire, The (1996)",06-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Substance%20o...
1658,1659,Getting Away With Murder (1996),12-Apr-1996,NaN,http://us.imdb.com/Title?Getting+Away+With+Mur...
1659,1660,Small Faces (1995),09-Aug-1996,NaN,http://us.imdb.com/M/title-exact?Small%20Faces...
1660,1661,"New Age, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?New%20Age,%20..."
1661,1662,Rough Magic (1995),30-May-1997,NaN,http://us.imdb.com/M/title-exact?Rough%20Magic...
1662,1663,Nothing Personal (1995),30-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Nothing%20Per...
1663,1664,8 Heads in a Duffel Bag (1997),18-Apr-1997,NaN,http://us.imdb.com/Title?8+Heads+in+a+Duffel+B...
1664,1665,"Brother's Kiss, A (1997)",25-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Brother%27s%2...
1665,1666,Ripe (1996),02-May-1997,NaN,http://us.imdb.com/M/title-exact?Ripe%20%28199...
1666,1667,"Next Step, The (1995)",13-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Next%20Step%2...
1667,1668,Wedding Bell Blues (1996),13-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Wedding%20Bel...
1668,1669,MURDER and murder (1996),20-Jun-1997,NaN,http://us.imdb.com/M/title-exact?MURDER+and+mu...
1669,1670,Tainted (1998),01-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Tainted+(1998)
1670,1671,"Further Gesture, A (1996)",20-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Further+Gestu...
1671,1672,Kika (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Kika%20(1993)
1672,1673,Mirage (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Mirage%20(1995)
1673,1674,Mamma Roma (1962),01-Jan-1962,NaN,http://us.imdb.com/M/title-exact?Mamma%20Roma%...
1674,1675,"Sunchaser, The (1996)",25-Oct-1996,NaN,"http://us.imdb.com/M/title-exact?Sunchaser,%20..."
1675,1676,"War at Home, The (1996)",01-Jan-1996,NaN,http://us.imdb.com/M/title-exact?War%20at%20Ho...
1676,1677,Sweet Nothing (1995),20-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Sweet%20Nothi...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998)
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...

In [38]:
# 사용자 + 영화 평점 + 영화 세 가지 정보 합치기 
movie_rating = pd.merge(movies, ratings)

In [39]:
lens = pd.merge(movie_rating,users)

In [40]:
lens.head()

,movie_id,title,release_date,video_release_date,imdb_url,user_id,rating,unix_timestamp,date,age,sex,occupation,zip_code
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,308,4,887736532,1998-02-17 17:28:52,60,M,retired,95076
1,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,308,5,887737890,1998-02-17 17:51:30,60,M,retired,95076
2,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),308,4,887739608,1998-02-17 18:20:08,60,M,retired,95076
3,7,Twelve Monkeys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...,308,4,887738847,1998-02-17 18:07:27,60,M,retired,95076
4,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995),308,5,887736696,1998-02-17 17:31:36,60,M,retired,95076

In [41]:
lens.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 13 columns):
movie_id              100000 non-null int64
title                 100000 non-null object
release_date          99991 non-null object
video_release_date    0 non-null float64
imdb_url              99987 non-null object
user_id               100000 non-null int64
rating                100000 non-null int64
unix_timestamp        100000 non-null int64
date                  100000 non-null datetime64[ns]
age                   100000 non-null int64
sex                   100000 non-null object
occupation            100000 non-null object
zip_code              100000 non-null object
dtypes: datetime64[ns](1), float64(1), int64(5), object(6)
memory usage: 10.7+ MB

In [43]:
lens.describe() # movie_id, rating

,movie_id,video_release_date,user_id,rating,unix_timestamp,age
count,100000.000000,0.0,100000.00000,100000.000000,1.000000e+05,100000.000000
mean,425.530130,NaN,462.48475,3.529860,8.835289e+08,32.969850
std,330.798356,NaN,266.61442,1.125674,5.343856e+06,11.562623
min,1.000000,NaN,1.00000,1.000000,8.747247e+08,7.000000
25%,175.000000,NaN,254.00000,3.000000,8.794487e+08,24.000000
50%,322.000000,NaN,447.00000,4.000000,8.828269e+08,30.000000
75%,631.000000,NaN,682.00000,4.000000,8.882600e+08,40.000000
max,1682.000000,NaN,943.00000,5.000000,8.932866e+08,73.000000

In [45]:
lens.sort_values('rating',ascending=False)

,movie_id,title,release_date,video_release_date,imdb_url,user_id,rating,unix_timestamp,date,age,sex,occupation,zip_code
48743,25,"Birdcage, The (1996)",08-Mar-1996,NaN,"http://us.imdb.com/M/title-exact?Birdcage,%20T...",518,5,876823197,1997-10-14 09:59:57,49,F,writer,99709
46595,705,Singin' in the Rain (1952),01-Jan-1952,NaN,http://us.imdb.com/M/title-exact?Singin'%20in%...,303,5,879467105,1997-11-14 00:25:05,19,M,student,14853
20919,1286,Shall We Dance? (1937),01-Jan-1937,NaN,http://us.imdb.com/M/title-exact?Shall%20We%20...,416,5,893213549,1998-04-22 02:52:29,20,F,student,92626
46621,780,Dumb & Dumber (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Dumb%20&%20Du...,303,5,879483900,1997-11-14 05:05:00,19,M,student,14853
20917,1262,Walking and Talking (1996),12-Jul-1996,NaN,http://us.imdb.com/M/title-exact?Walking%20and...,416,5,893213019,1998-04-22 02:43:39,20,F,student,92626
20914,1221,When a Man Loves a Woman (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?When%20a%20Ma...,416,5,893213103,1998-04-22 02:45:03,20,F,student,92626
46625,792,Bullets Over Broadway (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Bullets%20Ove...,303,5,879484644,1997-11-14 05:17:24,19,M,student,14853
20911,1189,Prefontaine (1997),24-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Prefontaine%2...,416,5,893213917,1998-04-22 02:58:37,20,F,student,92626
91551,48,Hoop Dreams (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Hoop%20Dreams...,615,5,879448399,1997-11-13 19:13:19,38,M,educator,27705
86864,1524,Kaspar Hauser (1993),07-Jun-1996,NaN,http://us.imdb.com/Title?Kaspar+Hauser+(1993),358,5,891269418,1998-03-30 14:50:18,40,M,educator,10022
20900,1119,Some Kind of Wonderful (1987),01-Jan-1987,NaN,http://us.imdb.com/M/title-exact?Some%20Kind%2...,416,5,893214225,1998-04-22 03:03:45,20,F,student,92626
91548,23,Taxi Driver (1976),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Taxi%20Driver...,615,5,879448547,1997-11-13 19:15:47,38,M,educator,27705
76952,251,Shall We Dance? (1996),11-Jul-1997,NaN,http://us.imdb.com/M/title-exact?Shall%20we%20...,707,5,880059647,1997-11-20 21:00:47,56,F,librarian,19146
95815,173,"Princess Bride, The (1987)",01-Jan-1987,NaN,http://us.imdb.com/M/title-exact?Princess%20Br...,762,5,878719533,1997-11-05 08:45:33,32,M,administrator,95050
20894,1074,Reality Bites (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Reality%20Bit...,416,5,893213103,1998-04-22 02:45:03,20,F,student,92626
20893,1058,"War, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?War,%20The%20...",416,5,893213019,1998-04-22 02:43:39,20,F,student,92626
91546,14,"Postino, Il (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Postino,%20Il...",615,5,879448016,1997-11-13 19:06:56,38,M,educator,27705
76958,285,Secrets & Lies (1996),04-Oct-1996,NaN,http://us.imdb.com/M/title-exact?Secrets%20&%2...,707,5,880059749,1997-11-20 21:02:29,56,F,librarian,19146
76959,286,"English Patient, The (1996)",15-Nov-1996,NaN,http://us.imdb.com/M/title-exact?English%20Pat...,707,5,879438988,1997-11-13 16:36:28,56,F,librarian,19146
20885,1020,Gaslight (1944),01-Jan-1944,NaN,http://us.imdb.com/M/title-exact?Gaslight%20(1...,416,5,893212483,1998-04-22 02:34:43,20,F,student,92626
20884,1016,Con Air (1997),06-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Con%20Air%20%...,416,5,893213444,1998-04-22 02:50:44,20,F,student,92626
86866,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995),152,5,882829050,1997-12-22 22:17:30,33,F,educator,68767
20880,1007,Waiting for Guffman (1996),31-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Waiting%20for...,416,5,893213918,1998-04-22 02:58:38,20,F,student,92626
91541,328,Conspiracy Theory (1997),08-Aug-1997,NaN,http://us.imdb.com/M/title-exact?Conspiracy+Th...,596,5,883539103,1997-12-31 03:31:43,20,M,artist,77073
67953,572,Blown Away (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Blown%20Away%...,346,5,875266600,1997-09-26 09:36:40,34,M,other,76059
76942,208,Young Frankenstein (1974),01-Jan-1974,NaN,http://us.imdb.com/M/title-exact?Young%20Frank...,707,5,886285939,1998-01-31 22:32:19,56,F,librarian,19146
85334,421,William Shakespeare's Romeo and Juliet (1996),25-Oct-1996,NaN,http://us.imdb.com/Title?Romeo+%2B+Juliet+(1996),24,5,875323712,1997-09-27 01:28:32,21,F,artist,94533
85335,427,To Kill a Mockingbird (1962),01-Jan-1962,NaN,http://us.imdb.com/M/title-exact?To%20Kill%20a...,24,5,875323002,1997-09-27 01:16:42,21,F,artist,94533
20946,12,"Usual Suspects, The (1995)",14-Aug-1995,NaN,http://us.imdb.com/M/title-exact?Usual%20Suspe...,291,5,874834701,1997-09-21 09:38:21,19,M,student,44106
20961,50,Star Wars (1977),01-Jan-1977,NaN,http://us.imdb.com/M/title-exact?Star%20Wars%2...,291,5,874805860,1997-09-21 01:37:40,19,M,student,44106
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46922,976,Solo (1996),23-Aug-1996,NaN,http://us.imdb.com/M/title-exact?Solo%20(1996),893,1,874828981,1997-09-21 08:03:01,25,M,student,95823
46823,738,Threesome (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Threesome%20(...,336,1,877757343,1997-10-25 05:29:03,23,M,salesman,42101
46831,785,Only You (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Only%20You%20...,336,1,877758935,1997-10-25 05:55:35,23,M,salesman,42101
46835,845,That Thing You Do! (1996),28-Sep-1996,NaN,http://us.imdb.com/M/title-exact?That%20Thing%...,336,1,877758035,1997-10-25 05:40:35,23,M,salesman,42101
46837,864,My Fellow Americans (1996),20-Dec-1996,NaN,http://us.imdb.com/M/title-exact?My%20Fellow%2...,336,1,877757837,1997-10-25 05:37:17,23,M,salesman,42101
46839,926,Down Periscope (1996),01-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Down%20Perisc...,336,1,877758935,1997-10-25 05:55:35,23,M,salesman,42101
46842,998,Cabin Boy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Cabin%20Boy%2...,336,1,877757062,1997-10-25 05:24:22,23,M,salesman,42101
46847,1037,Grease 2 (1982),01-Jan-1982,NaN,http://us.imdb.com/M/title-exact?Grease%202%20...,336,1,877757550,1997-10-25 05:32:30,23,M,salesman,42101
46852,1054,Mr. Wrong (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Mr.%20Wrong%2...,336,1,877754876,1997-10-25 04:47:56,23,M,salesman,42101
46856,1079,Joe's Apartment (1996),26-Jul-1996,NaN,http://us.imdb.com/M/title-exact?Joe's%20Apart...,336,1,877757094,1997-10-25 05:24:54,23,M,salesman,42101
46857,1094,"Thin Line Between Love and Hate, A (1996)",03-Apr-1996,NaN,http://us.imdb.com/M/title-exact?Thin%20Line%2...,336,1,877757062,1997-10-25 05:24:22,23,M,salesman,42101
46860,1183,"Cowboy Way, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Cowboy%20Way,...",336,1,877757972,1997-10-25 05:39:32,23,M,salesman,42101
46866,1446,"Bye Bye, Love (1995)",01-Jan-1995,NaN,"http://us.imdb.com/M/title-exact?Bye%20Bye,%20...",336,1,877757790,1997-10-25 05:36:30,23,M,salesman,42101
46867,1496,Carpool (1996),23-Aug-1996,NaN,http://us.imdb.com/M/title-exact?Carpool%20(1996),336,1,877757268,1997-10-25 05:27:48,23,M,salesman,42101
46937,252,"Lost World: Jurassic Park, The (1997)",23-May-1997,NaN,http://us.imdb.com/M/title-exact?Lost%20World%...,550,1,883426119,1997-12-29 20:08:39,16,F,student,95453
47304,431,Highlander (1986),01-Jan-1986,NaN,http://us.imdb.com/M/title-exact?Highlander%20...,773,1,888540063,1998-02-27 00:41:03,20,M,student,55414
46938,254,Batman & Robin (1997),20-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Batman+%26+Ro...,550,1,883426119,1997-12-29 20:08:39,16,F,student,95453
46991,476,"First Wives Club, The (1996)",14-Sep-1996,NaN,http://us.imdb.com/M/title-exact?First%20Wives...,792,1,877910206,1997-10-26 23:56:46,40,M,programmer,12205
47009,1054,Mr. Wrong (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Mr.%20Wrong%2...,792,1,877910666,1997-10-27 00:04:26,40,M,programmer,12205
47116,227,Star Trek VI: The Undiscovered Country (1991),01-Jan-1991,NaN,http://us.imdb.com/M/title-exact?Star%20Trek%2...,823,1,878439497,1997-11-02 02:58:17,27,M,artist,50322
47135,374,Mighty Morphin Power Rangers: The Movie (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Mighty%20Morp...,823,1,878438733,1997-11-02 02:45:33,27,M,artist,50322
47148,450,Star Trek V: The Final Frontier (1989),01-Jan-1989,NaN,http://us.imdb.com/M/title-exact?Star%20Trek%2...,823,1,878439412,1997-11-02 02:56:52,27,M,artist,50322
47166,640,"Cook the Thief His Wife & Her Lover, The (1989)",01-Jan-1989,NaN,http://us.imdb.com/M/title-exact?Cook%20the%20...,823,1,878439315,1997-11-02 02:55:15,27,M,artist,50322
47197,1217,Assassins (1995),01-Jan-1995,NaN,http://us.imdb.com/Title?Assassins+(1995),823,1,878438435,1997-11-02 02:40:35,27,M,artist,50322
47209,27,Bad Boys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Bad%20Boys%20...,773,1,888540218,1998-02-27 00:43:38,20,M,student,55414
47275,233,Under Siege (1992),01-Jan-1992,NaN,http://us.imdb.com/M/title-exact?Under%20Siege...,773,1,888540112,1998-02-27 00:41:52,20,M,student,55414
91409,268,Chasing Amy (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Chasing+Amy+(...,673,1,888786997,1998-03-01 21:16:37,51,M,educator,22906
47291,343,Alien: Resurrection (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Alien%3A+Resu...,773,1,888538175,1998-02-27 00:09:35,20,M,student,55414
91398,1083,Albino Alligator (1996),17-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Albino%20Alli...,186,1,879023599,1997-11-08 21:13:19,39,F,executive,00000
99999,901,Mr. Magoo (1997),25-Dec-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,729,1,893286491,1998-04-22 23:08:11,19,M,student,56567

In [46]:

lens.title.value_counts()

Star Wars (1977)                                      583
Contact (1997)                                        509
Fargo (1996)                                          508
Return of the Jedi (1983)                             507
Liar Liar (1997)                                      485
English Patient, The (1996)                           481
Scream (1996)                                         478
Toy Story (1995)                                      452
Air Force One (1997)                                  431
Independence Day (ID4) (1996)                         429
Raiders of the Lost Ark (1981)                        420
Godfather, The (1972)                                 413
Pulp Fiction (1994)                                   394
Twelve Monkeys (1995)                                 392
Silence of the Lambs, The (1991)                      390
Jerry Maguire (1996)                                  384
Chasing Amy (1997)                                    379
Rock, The (1996)                                      378
Empire Strikes Back, The (1980)                       367
Star Trek: First Contact (1996)                       365
Back to the Future (1985)                             350
Titanic (1997)                                        350
Mission: Impossible (1996)                            344
Fugitive, The (1993)                                  336
Indiana Jones and the Last Crusade (1989)             331
Willy Wonka and the Chocolate Factory (1971)          326
Princess Bride, The (1987)                            324
Forrest Gump (1994)                                   321
Saint, The (1997)                                     316
Monty Python and the Holy Grail (1974)                316
                                                     ...
Vermont Is For Lovers (1992)                            1
Sunchaser, The (1996)                                   1
Brothers in Trouble (1995)                              1
Liebelei (1933)                                         1
Small Faces (1995)                                      1
MURDER and murder (1996)                                1
Johns (1996)                                            1
Shadows (Cienie) (1988)                                 1
Mostro, Il (1994)                                       1
You So Crazy (1994)                                     1
Quartier Mozart (1992)                                  1
Silence of the Palace, The (Saimt el Qusur) (1994)      1
Vie est belle, La (Life is Rosey) (1987)                1
Target (1995)                                           1
Lady of Burlesque (1943)                                1
Big One, The (1997)                                     1
Farmer & Chase (1995)                                   1
I, Worst of All (Yo, la peor de todas) (1990)           1
Reluctant Debutante, The (1958)                         1
Lotto Land (1995)                                       1
Death in Brunswick (1991)                               1
Angel on My Shoulder (1946)                             1
All Things Fair (1996)                                  1
Very Natural Thing, A (1974)                            1
Etz Hadomim Tafus (Under the Domin Tree) (1994)         1
Baton Rouge (1988)                                      1
Wife, The (1995)                                        1
Nobody Loves Me (Keiner liebt mich) (1994)              1
Police Story 4: Project S (Chao ji ji hua) (1993)       1
Mad Dog Time (1996)                                     1
Name: title, Length: 1664, dtype: int64

In [47]:
# 가장 평점 많이 받은 25개 작품 
lens.title.value_counts()[:25]

Star Wars (1977)                             583
Contact (1997)                               509
Fargo (1996)                                 508
Return of the Jedi (1983)                    507
Liar Liar (1997)                             485
English Patient, The (1996)                  481
Scream (1996)                                478
Toy Story (1995)                             452
Air Force One (1997)                         431
Independence Day (ID4) (1996)                429
Raiders of the Lost Ark (1981)               420
Godfather, The (1972)                        413
Pulp Fiction (1994)                          394
Twelve Monkeys (1995)                        392
Silence of the Lambs, The (1991)             390
Jerry Maguire (1996)                         384
Chasing Amy (1997)                           379
Rock, The (1996)                             378
Empire Strikes Back, The (1980)              367
Star Trek: First Contact (1996)              365
Back to the Future (1985)                    350
Titanic (1997)                               350
Mission: Impossible (1996)                   344
Fugitive, The (1993)                         336
Indiana Jones and the Last Crusade (1989)    331
Name: title, dtype: int64

In [49]:
# 사용자별 평가 횟수와 평점 평균 -> EDA 
user_stats = lens.groupby('user_id').agg({'rating': [np.size, np.mean]})
user_stats['rating'].describe()

             size        mean
count  943.000000  943.000000
mean   106.044539    3.588191
std    100.931743    0.445233
min     20.000000    1.491954
25%     33.000000    3.323054
50%     65.000000    3.620690
75%    148.000000    3.869565
max    737.000000    4.869565

In [51]:
# EDA 후 vectorize (문자를 숫자로 바꾸기)
# vectorize 후 train_test_split

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
# 3가지 -> fast FM, fast AI 
# one hot encoding 예측 <- Scikit 으로 예측가능 
# 영화 제목 예측이 목표

In [54]:
# X에 개인정보가 들어갔을 때 Y에 영화 제목 나옴