## 문자열

In [1]:
a = '문근영' #문자열 각각에 접근하는 것을 index 기법이라고 함

In [3]:
a[0] #index 0에 접근

'문'

In [4]:
a[3]

IndexError: string index out of range

In [5]:
a[-1]

'영'

In [6]:
a[-3]

'문'

In [7]:
len(a)

3

In [8]:
a[0:2] # 문자열 2개 뽑는 것을 slice 라고 함 0부터 시작해서 2개의 문자열 추출

'문근'

In [9]:
a[0:3]

'문근영'

In [10]:
a[0:] # 시작점 index 0 기준으로 전부 다 추출

'문근영'

In [11]:
a[1:]

'근영'

In [12]:
a[:] # 아무것도 지정안하고 : 만 지정하면 전부 추출

'문근영'

### 모든 문자열은 숫자와 순서가 중요하므로 sequence 타입이라고 하며 index 와 slice 로 접근가능하다.

### 숫자는 sequence 타입이 아니다.

In [15]:
a = input() # 강제 명령 중단은 esc 누르고 i 를 누르던지 위의 Run 옆에 중단 버튼 클릭 또는 Kernal 메뉴의 restart를 클릭하면 됨

1

In [16]:
a

'1'

### input() 으로 입력을 받으면 문자열로 입력을 받는 것이다.

In [17]:
a = input('이름을 입력하세요')

이름을 입력하세요문근영

In [18]:
a[0]

'문'

In [19]:
a[1:]

'근영'

In [20]:
b = [1,2,3]

In [21]:
type(b)

list

### list 는 sequence type 이므로 index 와 slice를 통해 접근가능하다.

In [22]:
b[-1]

3

In [23]:
c = [1,2,'3'] # 서로 다른 타입을 포함할 수 있는 list를 heterogenous container 이며 길이를 자유자재로 줄였다가 늘릴 수 있음

In [24]:
c + [4] #이러처럼 길이를 자유자재를 줄였다 늘릴 수 있는 list를 mutable 타입이라고 하며 sequence 타입이기도 함

[1, 2, '3', 4]

In [25]:
d = '문'

In [26]:
id(d) # id는 메모리 주소

4452902992

In [28]:
d = d + '근영'

In [29]:
d

'문근영'

In [30]:
"문" + "근영"

'문근영'

In [31]:
"문""근영"

'문근영'

In [32]:
id(d)

4452903552

In [33]:
e = [1,2]

In [34]:
id(e)

4452938760

In [36]:
e = e + [4] # + 를 하면 id 가 바뀜

In [37]:
id(e)

4452000136

### 파이썬도 가비지 콜렉션 기법을 사용함 => id 가 변했다는 것으로 유추 가능

In [38]:
e.append(5)

In [39]:
e

[1, 2, 4, 5]

In [40]:
id(e) # append 를 했더니 id 가 안 바뀜

4452000136

In [41]:
f = (1,2,3)

In [42]:
type(f)

tuple

### tuple 도 sequence type 인데 mutable 타입이 아님 => 이를 immutable 타입이라고 함 (자기 자신이 바뀌지 않음)

### 숫자형 타입과 문자열은 immutable 타입 / 문자열은 immutable 타입이지만 sequence를 가지고 있어서 sequence 타입임

### list는 sequence 타입이고 mutable 타입이다.

### tuple 은 sequence 타입이고 immutable 타입이다.

In [43]:
a = [1,2,]

In [44]:
a

[1, 2]

In [45]:
b = (1,2,)

In [46]:
b

(1, 2)

In [47]:
b = 1,2, # 자동으로 tuple로 인식해버림

In [48]:
b

(1, 2)

In [49]:
x, y = 1,2

In [50]:
x

1

In [51]:
y

2

In [52]:
x = 1,2

In [53]:
x

(1, 2)

In [54]:
x,y = 1,2,3 # 할당할 때 변수가 한 개일 때는 tuple로 인식하지만 한 개 이상인 경우 에러 발생

ValueError: too many values to unpack (expected 2)

In [55]:
x,y,z = 1,2,3

In [56]:
x

1

In [57]:
y

2

In [58]:
z

3

In [59]:
x,*y = 1,2,3 # x 에는 1이 할당되고 y는 list로 변환

In [60]:
x

1

In [61]:
y

[2, 3]

In [62]:
x,*y,z = 1,2,3,4,5,6,

In [63]:
x

1

In [64]:
y

[2, 3, 4, 5]

In [65]:
z

6

### 할당(assignment)은 총 6가지이다. global, non local 은 function 배울 때 다루어볼 예정

In [66]:
a = [1,2,]

In [67]:
dir(a) # __ 로 시작하는 함수는 파이썬 내부의 함수 (function) 을 의미한다.

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [68]:
a

[1, 2]

In [69]:
a.append([3])

In [70]:
a

[1, 2, [3]]

In [71]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [72]:
a.clear()

In [73]:
a

[]

In [78]:
b = [3,4,5,4]

In [79]:
b.count(4) # parameter를 받아 parameter 에 해당하는 특정 숫자가 몇 개 있는지 카운트함

2

In [80]:
b.append(5)

In [81]:
b

[3, 4, 5, 4, 5]

In [82]:
b.extend([6]) # iterable

In [83]:
b

[3, 4, 5, 4, 5, 6]

In [84]:
b.append([7])

In [85]:
b

[3, 4, 5, 4, 5, 6, [7]]

### bytes array는 mutable 이며 기호가 없다. 기호는 literal 이므로 bytes array 는 non literal 이다.

In [86]:
x = bytearray()

In [87]:
dir(x)

['__add__',
 '__alloc__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'capitalize',
 'center',
 'clear',
 'copy',
 'count',
 'decode',
 'endswith',
 'expandtabs',
 'extend',
 'find',
 'fromhex',
 'hex',
 'index',
 'insert',
 'isalnum',
 'isalpha',
 'isascii',
 'isdigit',
 'islower',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'pop',
 'remove',
 'replace',
 'reverse',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [91]:
x.append(4) ## bytes array 는 mutable 이므로 자기 자신은 안 변하면서 길이를 늘릴 수 있다.

In [92]:
x

bytearray(b'\x01\x04')

### list와 bytes array는 mutable 이다.

In [93]:
c = (1,2,3)

In [94]:
dir(c)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [95]:
b

[3, 4, 5, 4, 5, 6, [7]]

In [96]:
dir(b)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [97]:
b.pop() # 마지막 인덱스에 있는 값을 돌려주면서 내부적으로 삭제한다.

[7]

In [98]:
b

[3, 4, 5, 4, 5, 6]

### Mapping Type

#### Set 은 mapping type 에 속한다. Set은 순서가 없고 중복이 없다. 따라서, Set은 sequence type 이 아니다.  따라서, index 와 slice 가 불가능

In [107]:
x = {3,1,2,3,3,3,3} # 중복된 것을 다 없애고 오름차순으로 정렬한다.

In [108]:
x

{1, 2, 3}

In [101]:
dir(x)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

### set 은 mutable type 이다.

### Frozen Set 은 immutable type 이다.

In [105]:
y = frozenset({3,1,2,3,3,3,3})

In [106]:
y

frozenset({1, 2, 3})

In [104]:
dir(x)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

### Dictionary

In [109]:
d = {'a':1,'d':'x'}

In [110]:
d['a'] # 'a' 가 이름이자 index

1

In [111]:
d['b']

KeyError: 'b'

In [112]:
a = [1,2,3]

In [113]:
b = {'a':1,'b':2}

In [114]:
b['c'] = 5

In [115]:
b

{'a': 1, 'b': 2, 'c': 5}

In [124]:
a = [1,5,3]

In [125]:
a[1] = 5

In [126]:
a

[1, 5, 3]

In [127]:
a[1:] = 5

TypeError: can only assign an iterable

In [120]:
a[1:] = 't' # slice 를 통한 변경

In [121]:
a

[1, 't']

In [122]:
a = (1,2,3,4,5)

In [123]:
a[1] = 't' # 튜플(tuple)은 immutable 이므로 에러가 발생

TypeError: 'tuple' object does not support item assignment

In [128]:
b = {'a':1,'b':2,'c':5}

### Iterable 은 순회하면서 추출이 가능한 것이라 숫자형빼고는 다 Iterable 이다.

### Dictionary 의 경우 iterable 속성을 지원하기 위해 Dictionary View 를 사용하여 key 관점, value 관점, key & value 관점 총 세 가지 관점으로 iterable을 지원한다.

In [129]:
b.keys() # key 관점

dict_keys(['a', 'b', 'c'])

In [130]:
b.values() # value 관점

dict_values([1, 2, 5])

In [131]:
b.items() # key & value 관점

dict_items([('a', 1), ('b', 2), ('c', 5)])

### Range

In [138]:
x = range(3,10)

In [139]:
x

range(3, 10)

In [140]:
dir(x)

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

In [141]:
x[0]

3

In [142]:
x[:]

range(3, 10)

In [143]:
x[0:3]

range(3, 6)

In [144]:
x = range(3,10,2)

In [145]:
x[1] # 3, 5, 7 ..

5

In [146]:
a = [1,2,3,4,5,6,7,8,9,10]

In [147]:
a[::2]

[1, 3, 5, 7, 9]

In [148]:
a[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [149]:
a[::-2]

[10, 8, 6, 4, 2]

### 반복문 - for 문

In [150]:
for i in {1,2,3}:
    print(i)

1
2
3

In [151]:
for i in '1','2','3': # in 옆에는 iterable 인 것은 다 올 수 있다. 
    print(i)

1
2
3

### 멤버쉽 연산자

In [152]:
1 in '1','2','3'

TypeError: 'in <string>' requires string as left operand, not int

In [153]:
1 in 1,2,3

TypeError: argument of type 'int' is not iterable

In [154]:
'1' in '1','2','3' # 연산자 우선순위에 따라 in 이 먼저 계산되고 , 이 그 후에 계산됨

(True, '2', '3')

In [155]:
1 in ('1','2','3')

False

In [156]:
1 in [1,2,3]

True

In [157]:
1 not in ('1','2','3')

True

In [158]:
import keyword

In [159]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [160]:
len(keyword.kwlist)

35

### 원소가 2개 이상인 것은 모두 container 이다. 숫자 빼고는 다 container 이다.

### Sequence 는 총 6개 (str, bytes, bytes array, list, dictionary, range)

In [161]:
a = 1

In [162]:
a

1

In [163]:
print(a)

1

In [164]:
for i in [1,2,3,4,5]:
    print(i,'x')

1 x
2 x
3 x
4 x
5 x

In [166]:
for i in range(1,10):
    print(2,'x',i,'=',2*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [171]:
for i in range(1,10):
    print('---',i,'단','---')
    for j in range(1,10):
        print(i,'*',j,'=',i*j)

--- 1 단 ---
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
--- 2 단 ---
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
--- 3 단 ---
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--- 4 단 ---
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
--- 5 단 ---
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
--- 6 단 ---
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
--- 7 단 ---
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
--- 8 단 ---
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
--- 9 단 ---
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 식 (Expression)

In [172]:
1 + 3 + 4 # 파이썬은 앞에서부터 즉 1과 3을 더하는 것부터 계산

8

### 값 (값에 대한 Type)

#### 숫자형, 문자열, container 
    - Compound = Container = Collection
    - None

In [173]:
a = 1+3 or 3 in [3,4,5]

In [174]:
a

4

In [177]:
a = None # None 도 값

In [178]:
a

In [179]:
for i in range(10):
    print(i) # python style guide 8 에 space 4개 쳐서 띄우라고 써있음 / de facto은 사실상 표준을 의미 / recommendation도 표준을 의미

0
1
2
3
4
5
6
7
8
9