### Function (Defining, Calling & Passing)

In [1]:
def moon(a):
    return a

In [2]:
b = 0
moon(b or 4) # function 선언시 default 값 정해놓는 것과 동일

4

In [3]:
moon(5 if b>5 else 3) #조건식 => argument에는 조건식을 넣을 수 있음

3

In [4]:
if b>5:
    moon(5)
else:
    moon(3)

### 함수식 lambda

In [5]:
lambda : 3

In [6]:
moon

In [7]:
t = lambda : 3

In [8]:
t()

3

In [9]:
moon(lambda : 5)

In [10]:
def moon2(a):
    return a()

In [11]:
moon2(lambda : 5)

5

In [12]:
lambda a : a() # def 으로 만든 것보다 더 간략하다.

### 매개변수 2개이고 값을 리턴하는 함수식 만들기

In [15]:
a = lambda x,y : x+y

In [16]:
a(2,3)

5

In [17]:
def sun(x,y):
    return x+y

In [18]:
s1 = sun

In [19]:
s1(1,34)

35

In [23]:
s1.__name__

'sun'

In [25]:
moon2

In [26]:
%time
list(map(lambda x:x+10,range(100)))

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 8.11 µs

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109]

In [27]:
%%time
temp = []
for i in range(100):
    i += 10
    temp.append(i)

CPU times: user 34 µs, sys: 1e+03 ns, total: 35 µs
Wall time: 38.9 µs

In [28]:
"문근영"

'문근영'

In [29]:
"문근영\n문근영"

'문근영\n문근영'

In [30]:
"'''문근영'''어떤가요"

"'''문근영'''어떤가요"

In [31]:
'''문근영'''

'문근영'

In [32]:
'''문근영''''''문근영'''

'문근영문근영'

In [36]:
x = """
문근영
"""

In [34]:
x

'\n문근영\n'

In [40]:
y = r'\n\n3' # r 은 원시문자 그대로 보여주기

In [41]:
y

'\\n\\n3'

In [42]:
print(y)

\n\n3

In [43]:
'a' + 'b'

'ab'

In [44]:
'a' * 'b'

TypeError: can't multiply sequence by non-int of type 'str'

In [45]:
'a' * 5

'aaaaa'

In [46]:
'a' 'b'

'ab'

In [47]:
def f(a, l=[]):
    l.append(a)
    return l

In [48]:
f(3)

[3]

In [49]:
f(3)

[3, 3]

In [50]:
f(4)

[3, 3, 4]

In [51]:
import time

In [53]:
time.time()

1551945005.33846

In [58]:
def a(x, y=time.time()): # 선언할 때 이미 값이 저장되어 변경된 값들을 호출 못함 
    print(y)
    return x

In [59]:
a(1)

1551945131.338809

1

In [60]:
a(1)

1551945131.338809

1

In [64]:
def a2(x, y=None): # 위의 문제를 해결하기 위해 None으로 설정 후 처리
    if y is None:
        y = time.time()
    print(y)
    return x

In [65]:
a2(1)

1551945405.056234

1

In [66]:
a2(1)

1551945405.977262

1

### PEP 8

In [67]:
# moon_beauty -> '_'로 연결하는 방식을 snake 방식

In [68]:
# MoonBeauty -> pascal 방식

In [69]:
# moonBeauty -> camel 방식

---

In [70]:
a = 3
b = 4

In [71]:
a, b = b, a

In [72]:
a

4

In [73]:
b

3

### Closure 관련

In [74]:
def make_incrementor(n):
    return lambda x: x + n

In [75]:
f = make_incrementor(42)

In [76]:
f(0)

42

In [77]:
f(1)

43

---