### Decorator -> @add_one
### 기존 함수를 새로운 함수로 변환

In [21]:
def add_one(func):
    def wrapper(x):
        x = x + 1
        return func(x)
    return wrapper

In [22]:
@add_one
def hi(x):
    return x

In [23]:
a = hi(3)

In [24]:
a

4

---

In [25]:
def sun(t):
    def moon(a,b):
        return a,b
    return moon

In [26]:
sun(1)(3,4) # closure

(3, 4)

### decorator 는 무조건 첫 번째 인자가 함수로 들어가야 함

In [1]:
def sun2(t):
    def moon2(a,b):
        return t(a,b)
    return moon2

In [51]:
@sun2
def hi2(x,y):
    return x,y

In [52]:
b = hi2(1,2)

In [53]:
b

(1, 2)