### Functional Paradigm

In [1]:
data = (1,2,3,4,5,6,7,8)

In [2]:
start = lambda data : data[0]

In [5]:
start(data) # 작성은 어려운데 유지보수가 쉽고 디버깅이 편하다

1

### Procedural Paradigm

In [4]:
a = 0
b = a + 1
a = 3 # 작성은 쉬운데 줄이 길어지고 불편함

---

In [6]:
%timeit ((((1 + 2) + 3) + 4) + 5)

8.85 ns ± 0.0342 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [7]:
%timeit (1+(2+(3+(4+5))))

8.54 ns ± 0.0786 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

### Comprehension

In [9]:
a = [i for i in range(10)]

In [10]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
a = [i+1 for i in range(10)]

In [12]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
sum([i+1 for i in range(10)]) #식은 하나의 값으로 축약할 수 있기에 sum 함수에 인자로 넣을 수 있음

55

In [14]:
%timeit [i for i in range(10)]

784 ns ± 17.5 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [30]:
%%timeit
temp = []
for i in range(10):
    temp.append(i)

948 ns ± 15.6 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [16]:
{z for z in range(100)}

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

In [17]:
{z:'1' for z in range(100)}

{0: '1',
 1: '1',
 2: '1',
 3: '1',
 4: '1',
 5: '1',
 6: '1',
 7: '1',
 8: '1',
 9: '1',
 10: '1',
 11: '1',
 12: '1',
 13: '1',
 14: '1',
 15: '1',
 16: '1',
 17: '1',
 18: '1',
 19: '1',
 20: '1',
 21: '1',
 22: '1',
 23: '1',
 24: '1',
 25: '1',
 26: '1',
 27: '1',
 28: '1',
 29: '1',
 30: '1',
 31: '1',
 32: '1',
 33: '1',
 34: '1',
 35: '1',
 36: '1',
 37: '1',
 38: '1',
 39: '1',
 40: '1',
 41: '1',
 42: '1',
 43: '1',
 44: '1',
 45: '1',
 46: '1',
 47: '1',
 48: '1',
 49: '1',
 50: '1',
 51: '1',
 52: '1',
 53: '1',
 54: '1',
 55: '1',
 56: '1',
 57: '1',
 58: '1',
 59: '1',
 60: '1',
 61: '1',
 62: '1',
 63: '1',
 64: '1',
 65: '1',
 66: '1',
 67: '1',
 68: '1',
 69: '1',
 70: '1',
 71: '1',
 72: '1',
 73: '1',
 74: '1',
 75: '1',
 76: '1',
 77: '1',
 78: '1',
 79: '1',
 80: '1',
 81: '1',
 82: '1',
 83: '1',
 84: '1',
 85: '1',
 86: '1',
 87: '1',
 88: '1',
 89: '1',
 90: '1',
 91: '1',
 92: '1',
 93: '1',
 94: '1',
 95: '1',
 96: '1',
 97: '1',
 98: '1',
 99: '1'}

In [19]:
[z for z in range(100) if z%2 == 0] # 반복식 => comprehension

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [20]:
a = 3
x = 3 if a > 2 else 3

In [21]:
x

3

In [22]:
[str(z) for z in range(100)]

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']

In [23]:
[z if z>3 else 1 for z in range(100)] # 조건식 + comprehension

[1,
 1,
 1,
 1,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]