# Dates and Times
- time — Clock Time
- datetime — Date and Time Value Manipulation
- calendar — Work with Dates

- [dateutil](http://labix.org/python-dateutil)
- [pytz](http://pytz.sourceforge.net/)
- [pendulum](https://pendulum.eustace.io/)

In [5]:
import datetime

In [6]:
date = datetime.date(year=2018, month=6, day=7)

In [7]:
time = datetime.time(hour=12, minute=30,second=19, microsecond=463198)

In [8]:
dt = datetime.datetime(year=2013, month=6, day=7,hour=12, minute=30, second=19,microsecond=463198)

In [9]:
td = datetime.timedelta(weeks=2, days=5, hours=10,minutes=20, seconds=6.73,milliseconds=99, microseconds=8)

In [10]:
date + td

datetime.date(2018, 6, 26)

In [11]:
dt + td

datetime.datetime(2013, 6, 26, 22, 50, 26, 292206)

In [8]:
time + td

TypeError: unsupported operand type(s) for +: 'datetime.time' and 'datetime.timedelta'

# pandas Timestamp = datetime

In [14]:
import pandas as pd

In [15]:
issubclass(pd.Timestamp, datetime.datetime)

True

In [27]:
pd.Timestamp(year=2018, month=12, day=21, hour=5,minute=10, second=8, microsecond=99)

Timestamp('2018-12-21 05:10:08.000099')

In [28]:
pd.Timestamp('2016/1/10')

Timestamp('2016-01-10 00:00:00')

In [29]:
pd.Timestamp('2014-5/10')

Timestamp('2014-05-10 00:00:00')

In [30]:
pd.Timestamp('Jan 3, 2019 20:45.56')

Timestamp('2019-01-03 20:45:33')

In [31]:
pd.Timestamp('2016-01-05T05:34:43.123456789')

Timestamp('2016-01-05 05:34:43.123456789')

In [32]:
pd.Timestamp(500)

Timestamp('1970-01-01 00:00:00.000000500')

In [33]:
pd.Timestamp(5000, unit='D')

Timestamp('1983-09-10 00:00:00')

In [34]:
pd.to_datetime('2015-5-13')

Timestamp('2015-05-13 00:00:00')

In [35]:
pd.to_datetime('2015-13-5', dayfirst=True)

Timestamp('2015-05-13 00:00:00')

In [36]:
pd.to_datetime('Start Date: Sep 30, 2017 Start Time: 1:30 pm', format='Start Date: %b %d, %Y Start Time: %I:%M %p')

Timestamp('2017-09-30 13:30:00')

In [37]:
pd.to_datetime(100, unit='D', origin='2013-1-1')

Timestamp('2013-04-11 00:00:00')

In [38]:
pd.to_timedelta('67:15:45.454')

Timedelta('2 days 19:15:45.454000')

In [42]:
s = pd.Series([10, 100]) # Pandas 는 series 와 dataFrame 으로 구성

In [43]:
s

0     10
1    100
dtype: int64

In [41]:
pd.to_timedelta(s, unit='s') # 2개의 입력값이므로 2개의 결과가 나옴 (인덱스) to_timedelta

0   00:00:10
1   00:01:40
dtype: timedelta64[ns]

In [44]:
time_strings = ['2 days 24 minutes 89.67 seconds','00:45:23.6'] # object 가 2개 들어감

In [48]:
pd.to_timedelta(time_strings) # 인스턴스 방식으로 만듦 => Pandas의 TimeDeltaIndex로 변환

TimedeltaIndex(['2 days 00:25:29.670000', '0 days 00:45:23.600000'], dtype='timedelta64[ns]', freq=None)

In [46]:
pd.Timedelta('12 days 5 hours 3 minutes') * 2

Timedelta('24 days 10:06:00')

In [47]:
pd.Timestamp('1/1/2017') + pd.Timedelta('12 days 5 hours 3 minutes') * 2 # python의 class에서 상속을 받았으므로 연산가능

Timestamp('2017-01-25 10:06:00')

In [1]:
import jupyter

In [2]:
jupyter.__version__

'1.0.0'