In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
data_zillow = pd.read_csv('data-zillow.csv')

In [5]:
data_zillow

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

In [8]:
# RegionID 는 순서가 중요 -> category data로 변환 필요 
# RegionID -> as type 써서 category data 로 변환 (순서 중요) 
# SizeRank -> category data 로 변환 (순서 중요)
data_zillow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10830 entries, 0 to 10829
Data columns (total 8 columns):
Date          10830 non-null object
RegionID      10830 non-null int64
RegionName    10830 non-null object
State         10830 non-null object
Metro         10256 non-null object
County        10830 non-null object
SizeRank      10830 non-null int64
Zhvi          10830 non-null int64
dtypes: int64(3), object(5)
memory usage: 677.0+ KB

In [9]:
data_zillow.describe()

            RegionID      SizeRank          Zhvi
count   10830.000000  10830.000000  1.083000e+04
mean    84344.818837   5414.500000  2.503076e+05
std    125679.686534   3126.496042  2.565582e+05
min      3301.000000      0.000000  3.740000e+04
25%     19346.250000   2707.250000  1.269000e+05
50%     35444.500000   5414.500000  1.818000e+05
75%     52608.250000   8121.750000  2.823500e+05
max    737791.000000  10829.000000  6.343800e+06