In [15]:
import numpy as np

In [16]:
import pandas as pd

In [17]:
weather = pd.read_csv('weather.txt',sep='\t')

In [18]:
weather

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX000017004,2010,1,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.0,NaN
1,MX000017004,2010,1,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,NaN
2,MX000017004,2010,2,TMAX,NaN,273.0,241.0,NaN,NaN,NaN,...,NaN,299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX000017004,2010,2,TMIN,NaN,144.0,144.0,NaN,NaN,NaN,...,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX000017004,2010,3,TMAX,NaN,NaN,NaN,NaN,321.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX000017004,2010,3,TMIN,NaN,NaN,NaN,NaN,142.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX000017004,2010,4,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,363.0,NaN,NaN,NaN,NaN
7,MX000017004,2010,4,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,167.0,NaN,NaN,NaN,NaN
8,MX000017004,2010,5,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,332.0,NaN,NaN,NaN,NaN
9,MX000017004,2010,5,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,182.0,NaN,NaN,NaN,NaN
10,MX000017004,2010,6,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301.0,NaN,NaN
11,MX000017004,2010,6,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN
12,MX000017004,2010,7,TMAX,NaN,NaN,286.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX000017004,2010,7,TMIN,NaN,NaN,175.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX000017004,2010,8,TMAX,NaN,NaN,NaN,NaN,296.0,NaN,...,NaN,264.0,NaN,297.0,NaN,NaN,NaN,280.0,NaN,254.0
15,MX000017004,2010,8,TMIN,NaN,NaN,NaN,NaN,158.0,NaN,...,NaN,150.0,NaN,156.0,NaN,NaN,NaN,153.0,NaN,154.0
16,MX000017004,2010,10,TMAX,NaN,NaN,NaN,NaN,270.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,312.0,NaN,NaN,NaN
17,MX000017004,2010,10,TMIN,NaN,NaN,NaN,NaN,140.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,150.0,NaN,NaN,NaN
18,MX000017004,2010,11,TMAX,NaN,313.0,NaN,272.0,263.0,NaN,...,NaN,NaN,NaN,NaN,281.0,277.0,NaN,NaN,NaN,NaN
19,MX000017004,2010,11,TMIN,NaN,163.0,NaN,120.0,79.0,NaN,...,NaN,NaN,NaN,NaN,121.0,142.0,NaN,NaN,NaN,NaN
20,MX000017004,2010,12,TMAX,299.0,NaN,NaN,NaN,NaN,278.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX000017004,2010,12,TMIN,138.0,NaN,NaN,NaN,NaN,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
weather.info() # melt 기법 적용 필요 pd.wide_to_long /

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 35 columns):
id         22 non-null object
year       22 non-null int64
month      22 non-null int64
element    22 non-null object
d1         2 non-null float64
d2         4 non-null float64
d3         4 non-null float64
d4         2 non-null float64
d5         8 non-null float64
d6         2 non-null float64
d7         2 non-null float64
d8         2 non-null float64
d9         0 non-null float64
d10        2 non-null float64
d11        2 non-null float64
d12        0 non-null float64
d13        2 non-null float64
d14        4 non-null float64
d15        2 non-null float64
d16        2 non-null float64
d17        2 non-null float64
d18        0 non-null float64
d19        0 non-null float64
d20        0 non-null float64
d21        0 non-null float64
d22        0 non-null float64
d23        4 non-null float64
d24        0 non-null float64
d25        2 non-null float64
d26        2 non-null float64
d27        6 non-null float64
d28        2 non-null float64
d29        4 non-null float64
d30        2 non-null float64
d31        2 non-null float64
dtypes: float64(31), int64(2), object(2)
memory usage: 6.1+ KB

In [20]:
weather.describe()

,year,month,d1,d2,d3,d4,d5,d6,d7,d8,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
count,22.0,22.000000,2.000000,4.000000,4.000000,2.000000,8.000000,2.000000,2.000000,2.000000,...,0.0,4.00000,0.0,2.000000,2.000000,6.000000,2.000000,4.000000,2.000000,2.000000
mean,2010.0,6.272727,218.500000,223.250000,211.500000,196.000000,208.625000,191.500000,205.000000,231.500000,...,NaN,205.00000,NaN,226.500000,201.000000,243.833333,231.000000,228.500000,211.500000,204.000000
std,0.0,3.601347,113.844192,82.544432,64.054664,107.480231,89.042426,122.329473,107.480231,82.731493,...,NaN,91.18845,NaN,99.702056,113.137085,92.920217,114.551299,72.940615,94.045202,70.710678
min,2010.0,1.000000,138.000000,144.000000,144.000000,120.000000,79.000000,105.000000,129.000000,173.000000,...,NaN,107.00000,NaN,156.000000,121.000000,142.000000,150.000000,153.000000,145.000000,154.000000
25%,2010.0,3.250000,178.250000,158.250000,167.250000,158.000000,141.500000,148.250000,167.000000,202.250000,...,NaN,139.25000,NaN,191.250000,161.000000,170.750000,190.500000,173.250000,178.250000,179.000000
50%,2010.0,6.000000,218.500000,218.000000,208.000000,196.000000,210.500000,191.500000,205.000000,231.500000,...,NaN,207.00000,NaN,226.500000,201.000000,229.500000,231.000000,230.000000,211.500000,204.000000
75%,2010.0,9.500000,258.750000,283.000000,252.250000,234.000000,276.500000,234.750000,243.000000,260.750000,...,NaN,272.75000,NaN,261.750000,241.000000,318.250000,271.500000,285.250000,244.750000,229.000000
max,2010.0,12.000000,299.000000,313.000000,286.000000,272.000000,321.000000,278.000000,281.000000,290.000000,...,NaN,299.00000,NaN,297.000000,281.000000,363.000000,312.000000,301.000000,278.000000,254.000000

In [21]:
weather.columns

Index(['id', 'year', 'month', 'element', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6',
       'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16',
       'd17', 'd18', 'd19', 'd20', 'd21', 'd22', 'd23', 'd24', 'd25', 'd26',
       'd27', 'd28', 'd29', 'd30', 'd31'],
      dtype='object')

In [13]:
weather_melt = weather.melt(id_vars=['id', 'year', 'month', 'element'])

In [22]:
weather_melt

              id  year  month element variable  value
0    MX000017004  2010      1    TMAX       d1    NaN
1    MX000017004  2010      1    TMIN       d1    NaN
2    MX000017004  2010      2    TMAX       d1    NaN
3    MX000017004  2010      2    TMIN       d1    NaN
4    MX000017004  2010      3    TMAX       d1    NaN
5    MX000017004  2010      3    TMIN       d1    NaN
6    MX000017004  2010      4    TMAX       d1    NaN
7    MX000017004  2010      4    TMIN       d1    NaN
8    MX000017004  2010      5    TMAX       d1    NaN
9    MX000017004  2010      5    TMIN       d1    NaN
10   MX000017004  2010      6    TMAX       d1    NaN
11   MX000017004  2010      6    TMIN       d1    NaN
12   MX000017004  2010      7    TMAX       d1    NaN
13   MX000017004  2010      7    TMIN       d1    NaN
14   MX000017004  2010      8    TMAX       d1    NaN
15   MX000017004  2010      8    TMIN       d1    NaN
16   MX000017004  2010     10    TMAX       d1    NaN
17   MX000017004  2010     10    TMIN       d1    NaN
18   MX000017004  2010     11    TMAX       d1    NaN
19   MX000017004  2010     11    TMIN       d1    NaN
20   MX000017004  2010     12    TMAX       d1  299.0
21   MX000017004  2010     12    TMIN       d1  138.0
22   MX000017004  2010      1    TMAX       d2    NaN
23   MX000017004  2010      1    TMIN       d2    NaN
24   MX000017004  2010      2    TMAX       d2  273.0
25   MX000017004  2010      2    TMIN       d2  144.0
26   MX000017004  2010      3    TMAX       d2    NaN
27   MX000017004  2010      3    TMIN       d2    NaN
28   MX000017004  2010      4    TMAX       d2    NaN
29   MX000017004  2010      4    TMIN       d2    NaN
..           ...   ...    ...     ...      ...    ...
652  MX000017004  2010      8    TMAX      d30    NaN
653  MX000017004  2010      8    TMIN      d30    NaN
654  MX000017004  2010     10    TMAX      d30    NaN
655  MX000017004  2010     10    TMIN      d30    NaN
656  MX000017004  2010     11    TMAX      d30    NaN
657  MX000017004  2010     11    TMIN      d30    NaN
658  MX000017004  2010     12    TMAX      d30    NaN
659  MX000017004  2010     12    TMIN      d30    NaN
660  MX000017004  2010      1    TMAX      d31    NaN
661  MX000017004  2010      1    TMIN      d31    NaN
662  MX000017004  2010      2    TMAX      d31    NaN
663  MX000017004  2010      2    TMIN      d31    NaN
664  MX000017004  2010      3    TMAX      d31    NaN
665  MX000017004  2010      3    TMIN      d31    NaN
666  MX000017004  2010      4    TMAX      d31    NaN
667  MX000017004  2010      4    TMIN      d31    NaN
668  MX000017004  2010      5    TMAX      d31    NaN
669  MX000017004  2010      5    TMIN      d31    NaN
670  MX000017004  2010      6    TMAX      d31    NaN
671  MX000017004  2010      6    TMIN      d31    NaN
672  MX000017004  2010      7    TMAX      d31    NaN
673  MX000017004  2010      7    TMIN      d31    NaN
674  MX000017004  2010      8    TMAX      d31  254.0
675  MX000017004  2010      8    TMIN      d31  154.0
676  MX000017004  2010     10    TMAX      d31    NaN
677  MX000017004  2010     10    TMIN      d31    NaN
678  MX000017004  2010     11    TMAX      d31    NaN
679  MX000017004  2010     11    TMIN      d31    NaN
680  MX000017004  2010     12    TMAX      d31    NaN
681  MX000017004  2010     12    TMIN      d31    NaN

[682 rows x 6 columns]

In [23]:
weather_melt.dropna(inplace=True)

In [25]:
weather_melt # index 를 바꿔야 한다 20, 21, 24...

              id  year  month element variable  value
20   MX000017004  2010     12    TMAX       d1  299.0
21   MX000017004  2010     12    TMIN       d1  138.0
24   MX000017004  2010      2    TMAX       d2  273.0
25   MX000017004  2010      2    TMIN       d2  144.0
40   MX000017004  2010     11    TMAX       d2  313.0
41   MX000017004  2010     11    TMIN       d2  163.0
46   MX000017004  2010      2    TMAX       d3  241.0
47   MX000017004  2010      2    TMIN       d3  144.0
56   MX000017004  2010      7    TMAX       d3  286.0
57   MX000017004  2010      7    TMIN       d3  175.0
84   MX000017004  2010     11    TMAX       d4  272.0
85   MX000017004  2010     11    TMIN       d4  120.0
92   MX000017004  2010      3    TMAX       d5  321.0
93   MX000017004  2010      3    TMIN       d5  142.0
102  MX000017004  2010      8    TMAX       d5  296.0
103  MX000017004  2010      8    TMIN       d5  158.0
104  MX000017004  2010     10    TMAX       d5  270.0
105  MX000017004  2010     10    TMIN       d5  140.0
106  MX000017004  2010     11    TMAX       d5  263.0
107  MX000017004  2010     11    TMIN       d5   79.0
130  MX000017004  2010     12    TMAX       d6  278.0
131  MX000017004  2010     12    TMIN       d6  105.0
148  MX000017004  2010     10    TMAX       d7  281.0
149  MX000017004  2010     10    TMIN       d7  129.0
168  MX000017004  2010      8    TMAX       d8  290.0
169  MX000017004  2010      8    TMIN       d8  173.0
202  MX000017004  2010      3    TMAX      d10  345.0
203  MX000017004  2010      3    TMIN      d10  168.0
222  MX000017004  2010      2    TMAX      d11  297.0
223  MX000017004  2010      2    TMIN      d11  134.0
..           ...   ...    ...     ...      ...    ...
324  MX000017004  2010     10    TMAX      d15  287.0
325  MX000017004  2010     10    TMIN      d15  105.0
334  MX000017004  2010      3    TMAX      d16  311.0
335  MX000017004  2010      3    TMIN      d16  176.0
362  MX000017004  2010      6    TMAX      d17  280.0
363  MX000017004  2010      6    TMIN      d17  175.0
486  MX000017004  2010      2    TMAX      d23  299.0
487  MX000017004  2010      2    TMIN      d23  107.0
498  MX000017004  2010      8    TMAX      d23  264.0
499  MX000017004  2010      8    TMIN      d23  150.0
542  MX000017004  2010      8    TMAX      d25  297.0
543  MX000017004  2010      8    TMIN      d25  156.0
568  MX000017004  2010     11    TMAX      d26  281.0
569  MX000017004  2010     11    TMIN      d26  121.0
578  MX000017004  2010      4    TMAX      d27  363.0
579  MX000017004  2010      4    TMIN      d27  167.0
580  MX000017004  2010      5    TMAX      d27  332.0
581  MX000017004  2010      5    TMIN      d27  182.0
590  MX000017004  2010     11    TMAX      d27  277.0
591  MX000017004  2010     11    TMIN      d27  142.0
610  MX000017004  2010     10    TMAX      d28  312.0
611  MX000017004  2010     10    TMIN      d28  150.0
626  MX000017004  2010      6    TMAX      d29  301.0
627  MX000017004  2010      6    TMIN      d29  180.0
630  MX000017004  2010      8    TMAX      d29  280.0
631  MX000017004  2010      8    TMIN      d29  153.0
638  MX000017004  2010      1    TMAX      d30  278.0
639  MX000017004  2010      1    TMIN      d30  145.0
674  MX000017004  2010      8    TMAX      d31  254.0
675  MX000017004  2010      8    TMIN      d31  154.0

[66 rows x 6 columns]

In [30]:
weather_melt.iloc[20] # 파이선처럼 인덱스로 추출

id          MX000017004
year               2010
month                12
element            TMAX
variable             d6
value               278
Name: 130, dtype: object

In [32]:
weather_melt.loc[20] # 인덱스 이름으로 추출

id          MX000017004
year               2010
month                12
element            TMAX
variable             d1
value               299
Name: 20, dtype: object

In [36]:
weather_melt.reset_index(drop=True,inplace=True) # 예전 인덱스 없애고 새로 인덱스를 만들어준다. view 방식

In [37]:
weather_melt

             id  year  month element variable  value
0   MX000017004  2010     12    TMAX       d1  299.0
1   MX000017004  2010     12    TMIN       d1  138.0
2   MX000017004  2010      2    TMAX       d2  273.0
3   MX000017004  2010      2    TMIN       d2  144.0
4   MX000017004  2010     11    TMAX       d2  313.0
5   MX000017004  2010     11    TMIN       d2  163.0
6   MX000017004  2010      2    TMAX       d3  241.0
7   MX000017004  2010      2    TMIN       d3  144.0
8   MX000017004  2010      7    TMAX       d3  286.0
9   MX000017004  2010      7    TMIN       d3  175.0
10  MX000017004  2010     11    TMAX       d4  272.0
11  MX000017004  2010     11    TMIN       d4  120.0
12  MX000017004  2010      3    TMAX       d5  321.0
13  MX000017004  2010      3    TMIN       d5  142.0
14  MX000017004  2010      8    TMAX       d5  296.0
15  MX000017004  2010      8    TMIN       d5  158.0
16  MX000017004  2010     10    TMAX       d5  270.0
17  MX000017004  2010     10    TMIN       d5  140.0
18  MX000017004  2010     11    TMAX       d5  263.0
19  MX000017004  2010     11    TMIN       d5   79.0
20  MX000017004  2010     12    TMAX       d6  278.0
21  MX000017004  2010     12    TMIN       d6  105.0
22  MX000017004  2010     10    TMAX       d7  281.0
23  MX000017004  2010     10    TMIN       d7  129.0
24  MX000017004  2010      8    TMAX       d8  290.0
25  MX000017004  2010      8    TMIN       d8  173.0
26  MX000017004  2010      3    TMAX      d10  345.0
27  MX000017004  2010      3    TMIN      d10  168.0
28  MX000017004  2010      2    TMAX      d11  297.0
29  MX000017004  2010      2    TMIN      d11  134.0
..          ...   ...    ...     ...      ...    ...
36  MX000017004  2010     10    TMAX      d15  287.0
37  MX000017004  2010     10    TMIN      d15  105.0
38  MX000017004  2010      3    TMAX      d16  311.0
39  MX000017004  2010      3    TMIN      d16  176.0
40  MX000017004  2010      6    TMAX      d17  280.0
41  MX000017004  2010      6    TMIN      d17  175.0
42  MX000017004  2010      2    TMAX      d23  299.0
43  MX000017004  2010      2    TMIN      d23  107.0
44  MX000017004  2010      8    TMAX      d23  264.0
45  MX000017004  2010      8    TMIN      d23  150.0
46  MX000017004  2010      8    TMAX      d25  297.0
47  MX000017004  2010      8    TMIN      d25  156.0
48  MX000017004  2010     11    TMAX      d26  281.0
49  MX000017004  2010     11    TMIN      d26  121.0
50  MX000017004  2010      4    TMAX      d27  363.0
51  MX000017004  2010      4    TMIN      d27  167.0
52  MX000017004  2010      5    TMAX      d27  332.0
53  MX000017004  2010      5    TMIN      d27  182.0
54  MX000017004  2010     11    TMAX      d27  277.0
55  MX000017004  2010     11    TMIN      d27  142.0
56  MX000017004  2010     10    TMAX      d28  312.0
57  MX000017004  2010     10    TMIN      d28  150.0
58  MX000017004  2010      6    TMAX      d29  301.0
59  MX000017004  2010      6    TMIN      d29  180.0
60  MX000017004  2010      8    TMAX      d29  280.0
61  MX000017004  2010      8    TMIN      d29  153.0
62  MX000017004  2010      1    TMAX      d30  278.0
63  MX000017004  2010      1    TMIN      d30  145.0
64  MX000017004  2010      8    TMAX      d31  254.0
65  MX000017004  2010      8    TMIN      d31  154.0

[66 rows x 6 columns]

In [42]:
weather_melt.groupby(['month','variable'])['value'].mean() # multi index <- series (series 가 2개 이상 -> dataFrame)

month  variable
1      d30         211.5
2      d11         215.5
       d2          208.5
       d23         203.0
       d3          192.5
3      d10         256.5
       d16         243.5
       d5          231.5
4      d27         265.0
5      d27         257.0
6      d17         227.5
       d29         240.5
7      d14         232.0
       d3          230.5
8      d13         231.5
       d23         207.0
       d25         226.5
       d29         216.5
       d31         204.0
       d5          227.0
       d8          231.5
10     d14         212.5
       d15         196.0
       d28         231.0
       d5          205.0
       d7          205.0
11     d2          238.0
       d26         201.0
       d27         209.5
       d4          196.0
       d5          171.0
12     d1          218.5
       d6          191.5
Name: value, dtype: float64

In [43]:
# fancy index 
weather_melt.groupby(['month','variable'])[['value']].mean() # multi index <- series (series 가 2개 이상 -> dataFrame)

                value
month variable
1     d30       211.5
2     d11       215.5
      d2        208.5
      d23       203.0
      d3        192.5
3     d10       256.5
      d16       243.5
      d5        231.5
4     d27       265.0
5     d27       257.0
6     d17       227.5
      d29       240.5
7     d14       232.0
      d3        230.5
8     d13       231.5
      d23       207.0
      d25       226.5
      d29       216.5
      d31       204.0
      d5        227.0
      d8        231.5
10    d14       212.5
      d15       196.0
      d28       231.0
      d5        205.0
      d7        205.0
11    d2        238.0
      d26       201.0
      d27       209.5
      d4        196.0
      d5        171.0
12    d1        218.5
      d6        191.5

In [46]:
weather_melt.year[0] # series에서 index 접근할 때는 파이썬처럼 접근

2010

In [47]:
x = weather_melt.groupby(['month','variable'])['value'].mean()

In [48]:
x.index

MultiIndex(levels=[[1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12], ['d1', 'd10', 'd11', 'd13', 'd14', 'd15', 'd16', 'd17', 'd2', 'd23', 'd25', 'd26', 'd27', 'd28', 'd29', 'd3', 'd30', 'd31', 'd4', 'd5', 'd6', 'd7', 'd8']],
           labels=[[0, 1, 1, 1, 1, 2, 2, 2, 3, 4, 5, 5, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 10, 10], [16, 2, 8, 9, 15, 1, 6, 19, 12, 12, 7, 14, 4, 15, 3, 9, 10, 14, 17, 19, 22, 4, 5, 13, 19, 21, 8, 11, 12, 18, 19, 0, 20]],
           names=['month', 'variable'])

In [50]:
x.index['month']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [51]:
x.index[0] # 숫자로만 접근

(1, 'd30')

In [53]:
x.index[0][1]

'd30'

In [54]:
x

month  variable
1      d30         211.5
2      d11         215.5
       d2          208.5
       d23         203.0
       d3          192.5
3      d10         256.5
       d16         243.5
       d5          231.5
4      d27         265.0
5      d27         257.0
6      d17         227.5
       d29         240.5
7      d14         232.0
       d3          230.5
8      d13         231.5
       d23         207.0
       d25         226.5
       d29         216.5
       d31         204.0
       d5          227.0
       d8          231.5
10     d14         212.5
       d15         196.0
       d28         231.0
       d5          205.0
       d7          205.0
11     d2          238.0
       d26         201.0
       d27         209.5
       d4          196.0
       d5          171.0
12     d1          218.5
       d6          191.5
Name: value, dtype: float64

In [56]:
x.index[3]

(2, 'd23')

In [57]:
# 분석 -> reset_index -> 기계학습

In [58]:
# index 3요소 level, label, name

In [59]:
# 예외 -> 시계열 데이터 (시간, 날짜) 의 경우 reset_index 제외

In [60]:
# pd.read_csv # index_col 조절

In [61]:
# melt (구조, 데이터 다른 것)