In [1]:
# melt
# groupby (기본개념, 반드시 숙지) -> 집합분석 
# join
# merge (join 대신 merge 써라)
# crosstab -> 집합분석 
# pivot table <- 전처리 마지막 단계 -> 집합분석

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import pdvega

In [5]:
import seaborn as sns

In [6]:
tips = sns.load_dataset('tips')

In [7]:
# pivot -> 통계표 하나 만들어주고 중복값 있으면 에러남 
tips.pivot_table('tip','day',['sex','time'],margins=True)

sex       Male              Female
time     Lunch    Dinner     Lunch    Dinner
day
Thur  2.980333       NaN  2.561935  3.000000
Fri   1.900000  3.032857  2.745000  2.810000
Sat        NaN  3.083898       NaN  2.801786
Sun        NaN  3.220345       NaN  3.367222

In [8]:
tips.pivot_table('tip','day',['sex','time'],margins=True) # 집계분석 (aggregation)

sex       Male              Female                 All
time     Lunch    Dinner     Lunch    Dinner
day
Thur  2.980333       NaN  2.561935  3.000000  2.771452
Fri   1.900000  3.032857  2.745000  2.810000  2.734737
Sat        NaN  3.083898       NaN  2.801786  2.993103
Sun        NaN  3.220345       NaN  3.367222  3.255132
All   2.882121  3.144839  2.582857  3.002115  2.998279

In [1]:
# 집계분석 -> groupby, crosstab, pivot table

In [2]:
# Pivot -> 집계함수 없이 특정값을 알려주는 것 
# Pivot table