In [8]:
#from dfply import *
#import pandas as pd
# https://github.com/kieferk/dfply/blob/master/examples/basics-extending-functionality.ipynb

In [9]:
#!pip install dfply

In [10]:
from dfply import *
import numpy as np 
import pandas as pd

In [11]:
def crosstab(index, columns, values=None, aggfunc=None):
    return pd.crosstab(index, columns, values=values, aggfunc=aggfunc)

In [12]:
diamonds.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [13]:
crosstab(diamonds.cut, diamonds.color)

color         D     E     F     G     H     I    J
cut
Fair        163   224   312   314   303   175  119
Good        662   933   909   871   702   522  307
Ideal      2834  3903  3826  4884  3115  2093  896
Premium    1603  2337  2331  2924  2360  1428  808
Very Good  1513  2400  2164  2299  1824  1204  678